*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-family: Arial, sans-serif;
    font-size: 16px; /* 1rem = 16px */
}

body{
    background-color: #f4f4f4;
    color: black;
}

header{display: flex;
    justify-content: space-between;
    border: 1px solid #191818;
    padding: 1rem;
    background-color:aqua;

    
}

header h1{
    text-transform: uppercase;
    
}
nav{
    align-self: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

main{

}

#hero{
    background-image: url("https://i.guim.co.uk/img/media/6e48069815233f1690f255f84b0355d3e75462f6/0_193_4752_2851/master/4752.jpg?width=1200&quality=85&auto=format&fit=max&s=947194426bff28f1f98f8abe4d600ec9");
}

.hero-content-card{
    display: flex;
    border: 1px solid #191818;
    flex-direction: column;
    padding: 2rem;
    margin: 0rem 20rem;
}

.hero-content-card h2{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0rem;
}
.hero-content-card p{
    font-size: 1rem;
    text-align: center;
    max-width: 75ch;
    margin: 0 auto;
}

.customer-testimonials{
    background-color: rgb(0, 183, 255);
}

.customer-testimonials h2{
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0rem;
    font-size: 2rem;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0rem;
}


.review-card{
   display: flex;
   flex-direction: row;
   padding: 2rem;
   border: 1px solid #191818;
}

.review-card img {
    width: 12.5rem;           /* Fixed width */
    height: 12.5rem;          /* Fixed height for consistency */
    object-fit: cover;      /* Crops image to fit without distortion */   /* Optional: makes them circular */
    flex-shrink: 0;
}   

.review-card h3{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: 1rem;
    align-self: center;
}
.review-card blockquote{
    font-style: italic;
    margin-left: 1rem;
    align-self: center;
}
footer{
    background-color: aqua;
    color: black;
    padding: .5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
footer p{
    align-self: center;
}
.social-icons img{
    width: 2rem;           /* Fixed width */
    height: 2rem;          /* Fixed height for consistency */
    object-fit: cover;      /* Crops image to fit without distortion */   /* Optional: makes them circular */
    flex-shrink: 0;

}
.social-icons a{
    margin: 0 0.5rem;
}
