*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-family: Arial, sans-serif;
    font-size: 16px; /* 1rem = 16px */
}

body{
    background-color: #f4f4f4;
    color: black;
}

header{display: flex;
    justify-content: space-between;
    border: 1px solid #191818;
    padding: 1rem;
    background-color:aqua;

    
}

header h1{
    text-transform: uppercase;
    
}
nav{
    align-self: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}